.doyoulikeinternship{
  width: 100%;
  display: flex;
}
.leftdoyoulikeinternship{
  width: 60%;
  display: flex;
  flex-direction: column;
}
.doyoulikeinternshipheading{
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 37px;
color: #005A8C;
}


.doyoulikeinternshipinfo{
  margin-top: 20px;
  margin-left: 10px;
  padding-left:30px ;
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 3%;
  row-gap: 9%;
}
.doyoulikeinternshipdetails{
  background: #ECECEC;
border-radius: 10px;
outline: none;
border: none;
padding: 10px 15px;
width: 100%;
height: 60px;
}
.doyoulikeinternshipdetails::placeholder{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
color: #A2A2A2;
}

.doyouinternship{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #A2A2A2;
}

.reservebutton{
  display:flex ;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
  margin-top: 5%;
}
.reserveseatbutton{
  width: 225px;
height: 60px;
outline: none;
border: none;
  background: #005A8C;
border-radius: 10px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
color: #FFFFFF;
box-shadow: 0px 3px 5px #5a5959;
}

.rightdoyoulikeinternship{
  width: 40%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.rightdoyoulikeinternshipimage{
  width: 50%;
  height: 80%;
}

.subscribetonewsletter{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin-bottom: 50px;
}
.subscribetonewsletterheading{
  width: 100%;
  display: flex;
  padding: 2% 3%;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
color: #005A8C;
}

.subscribetonewsletterdetailscontainer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.subscribetonewsletterdetails{
  background: #ECECEC;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px 15px;
  width: 450px;
  height: 60px;
  margin-left: 10px;
}
.subscribetonewsletterdetails::placeholder{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #A2A2A2;
}
.termsandcondition{
  margin-right: 10px;
  width: 25px;
  height: 25px;
  color: #e71818;
  background-color: #e71818;
}
.termsandcondition:checked{
  background: #F2F2F2;
border: 1px solid #ACACAC;
box-sizing: border-box;
border-radius: 4px;
}
.policy{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
color: #005A8C;
margin-bottom: 2px;
}

.main {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #005A8C;
  margin-bottom: 10px;
}
.main input[type=checkbox] {
  visibility: hidden;
}
.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #F2F2F2;
border: 1px solid #ACACAC;
box-sizing: border-box;
border-radius: 4px;
}

.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}
.main input:checked ~ .geekmark:after {
  display: block;
}

.main .geekmark:after {
  left: 5px;
  bottom: 5px;
  width: 12px;
  height: 20px;
  border: 2px solid #00DA4A;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.joinbutton{
  width: 123px;
height: 52.71px;
  background: #005A8C;
  border-radius: 10px;
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
border: none;
color: #FFFFFF;
}
@media screen and (max-width:800px) {

  .reservebutton{
    margin-top: 170px;
  }
}

@media screen and (max-width:750px) {
  .subscribetonewsletterdetailscontainer{
    flex-direction: column;
    padding: 10px 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .termsandpolicy{
    padding-left: 10px;
    margin-top: 20px;
    justify-content: flex-start;
  }
  .subscribetonewsletterjoin{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}