.blogCard {
  background: #ffffff;
  border-radius: 5px;
  /* background: darkgray; */
  width: 300px;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  padding: 8px;
}
.blogCard img {
  width: 100%;
  height: 14rem;
}
.blogTitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin: 10px 0 5px 0;
  padding: 0 10px;
}
.blogInfo {
  font-size: 12px;
  line-height: 14px;
  /* text-align: center; */
  color: #000000;
  margin-bottom: 5%;
  padding: 0 10px;
}

.blogReadMore {
  width: 100%;
  /* background: red; */
  /* border-left: 2px solid black; */
  text-align: center;
  margin-bottom: 10px;
}

.blogReadMore a {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #005a8c;
}

.blogImgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.blogImgDots {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  box-shadow: 0px 0px 4px 5px rgba(9, 8, 8, 0.25);
  margin: 8px;
  border-radius: 100%;
}
.top {
  top: 0;
  left: 0;
}
.right {
  top: 0;
  right: 0;
}
.bottom {
  bottom: 0;
  right: 0;
}
.left {
  bottom: 0;
  left: 0;
}
