.docContainer{
    margin: 0 2.7% 0% 2.7%;
    background: #E5E5E5;
    font-family: Roboto;
    font-style: normal;
    padding-bottom: 1.5%;
    padding-right: 0.3%;
    box-sizing: border-box;
}
.heading1{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #737373;
    margin: 0;
    padding: 26px 0 32px 1px;
}
.container{
    width: 100%;
    margin-left: 9px;
    background: #FFFFFF;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
   
}
.section{
    background: #FFFFFF;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}
.heading2{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #A8A8A8;
    margin-top: 23px;
    margin-left: 25px;
    text-align: start;
}
.btn{
    width: 80%;
    background: #1F6E99;
    border-radius: 5px;
    min-height: 33px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 12px;
    margin-right: 34px;
    border-width: 0;
}
.btn input {
    display: none;
  }