.homeSection6Container{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.homeSection6Col{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.downloadappheading{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #000000;
}
.downloadapplines{
  padding-top: 15px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
}
.download-app{
  display: flex;
  justify-content: center;
  align-items:center ;
  width: 288px;
   height: 66px;
  background: #000000;
border-radius: 3px;
}
.googleplay{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
margin-left: 5px;
}
.detail-view{
  margin-left: 10%;
  width: fit-content;
}
.download-link-box{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.mobileimage{
  width: 350px;
height: 350px;
}
.googleplayestoreimage{
  width: 54px;
  height: 54px;
}