.logo img {
  width: 165px;
  height: 42px;
}

.navContainer {
  width: 100%;
  height: 88px;
  background: rgba(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  /* position: absolute; */
  z-index: 100;
  background: none;
}

.logo {
  padding-left: 39px;
  width: 25%;
  min-width: 210px;
}

.navLinks {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.navLinks > a {
  text-decoration: none;
  /* color: white; */
  color: black;
  margin: 5px 10px 5px 0px;
  padding: 5px 10px;
}

.navLinks > a:hover {
  background: white;
}

.navUser {
  width: 25%;
  min-width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile{
  width: 70px;
  height: 60px;
  border-radius: 50%;
}
.navUser > a {
  text-decoration: none;
}

.loginInBtn {
  background: white;
  color: rgb(27, 97, 159);
  padding: 5px 20px;
  border-radius: 8px;
}

.signInLink {
  color: gray;
  margin-top: 2px;
}
